.read__modal{
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.479);
    z-index: 100;
}

.read__modal .read__modal__container .MuiSvgIcon-root{
    color: rgb(196, 28, 28); 
    position: absolute;
    top: 20px;
    right: 45%;
    font-size: 1.7em;
    margin-bottom: 2em;
    cursor: pointer;
}

.read__modal__container{
    background-color: #fff;
    height: 80vh;
    width: 100%;
    max-width: 350px;
    overflow-y: auto;
    position: relative;
    max-height: 600px;
}
